:root {
  --header-height: 8vh;
  --main-content-height: 87vh;
  --footer-height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  grid-area: sidebar;
  height: var(--main-content-height);
  border-right: 1px solid black;
  background-color: #4d5158;
}

.content {
  grid-area: content;
  height: var(--main-content-height);
}

.header {
  grid-area: header;
  height: var(--header-height);
  border-right: 1px solid black;
}

.footer {
  grid-area: footer;
  height: var(--footer-height);
  border-top: 1px solid rgb(255, 255, 255);
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header   header"
      "sidebar  content"
      "footer   footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 240px auto auto;
    grid-template-areas:
      "header  header  header"
      "sidebar content content"
      "footer  footer  footer";
  }
}

.header,footer {
  background-color: #4d5158;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: 500;
}
